@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.container {
  width: 900px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
 }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: #9BD1E5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
   background-image: url("https://images.unsplash.com/photo-1620555791739-438a95e7ff65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");

}

h1 {
  font-size: 36px;
  font-weight: 900;
  color: navy;
  font-family: 'Poppins', sans-serif;
  line-height: 32px;
  font-style: italic;
}

h3 {
  font-size: 20px;
  font-weight: 900;
  font-style: bold;
  color: black;
}

h2 {
  font-size: 20px;
  font-weight: 900;
  color: black;
}

p {
  font-family: 'Poppins', sans-serif;
  margin: 0px 0px 0px 0px;
}

a {
  color: grey;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  transition-duration: 0.4s;
  margin: 10px 0px 10px 0px;

}

a:hover {
  color: #339cbe;
  text-shadow: 1px 1px 2px grey;
}


#discover {
  display: inline-block;
  margin-top: 10px;
  background-color: #339cbe;
  color: white;
  padding: 15px 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px grey;
}

#discover:hover{
  background-color: #297e9a
}

#about_me {
  background-color: #5b57506b;
  color: white;
  text-shadow: 1px 1px 1px darkgrey;
  padding: 2px 3px 2px 3px;
  margin: 0px 0px 0px 0px;
  margin-top: 1px;
  margin-bottom: 10px;
  border-radius: 0px;
  /*box-shadow: inset 1px 1px 4px rgb(100,100,100,0.5);*/
}

.follow-me {
  font-size: 14px;
  color: #339cbe
}

.follow-me a {
  display: inline-block;
  padding: 0px 5px;
  text-shadow: 1px 1px 1px lightgrey;
}

li {
  color: grey
  padding: 0px 20px;
}

.card:first-child {
  margin-top: 30px
}
.card:last-child {
  padding: 0px 0px 0px 35px;
  text-align: left;
  margin-top: 10px
}

.card {
    background-color: white;
    padding: 30px;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}
